<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1>
<p>has made <%= pluralize(@user.ratings.count, 'rating') %>, average <%= @user.average_rating %> </p>

<h2>ratings</h2>

<ul>
  <% @user.ratings.all.each do |rating| %>
      <li> <%= rating %> <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %> </li>
  <% end %>
</ul>
