<h1>Rating statistics</h1>

<p>Number of ratings: <%= @ratings.count %> </p>

<div class="row">
  <div class="col-xs-4 col-sm-5">
    <h2>Best breweries</h2>
    <%= render 'list', source: @top_breweries %>
  </div>

  <div class="col-xs-4 col-sm-4">
    <h2>Best beers</h2>
    <%= render 'list', source: @top_beers %>
  </div>

  <div class="col-xs-4 col-sm-2">
    <h2>Best styles</h2>
    <%= render 'list', source: @top_styles %>
  </div>
</div>







<h2>Most active users</h2>

<table class="table table-striped table-hover table-bordered">
  <thead>
  <tr>
    <th></th>
    <th>Favorite beer</th>
    <th>Favorite style</th>
    <th>Favorite brewery</th>
    <th>Ratings</th>
  </tr>
  </thead>

  <tbody>
  <% @top_users.each do |user| %>
      <tr>
        <td><%= link_to user.username, user %></td>
        <td><%= user.favorite_beer %></td>
        <td><%= user.favorite_style %></td>
        <td><%= user.favorite_brewery.name %></td>
        <td><%= user.ratings.count %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<h2>Recent ratings</h2>
<ul>
  <% @recent.each do |rating| %>
      <li> <%= rating %> <%= link_to rating.user.username, rating.user %> </li>
  <% end %>
</ul>