<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@beerclub.name} #{@beerclub.city}" %>
</h2>

<p>
  Founded <%= @beerclub.founded %>
</p>

<% if @beerclub.members.any? %>


    <h3>Members</h3>

    <ul>
      <% @beerclub.members.each do |member| %>
          <li>
            <%= link_to member.username, member %>
          </li>
      <% end %>
    </ul>

<% else %>

    <p>
      no members
    </p>

<% end %>

<% if current_user.in? @beerclub.members %>

    <%= form_for(@membership, method: "delete") do |f| %>
        <%= f.hidden_field :beerclub_id %>
        <%= f.submit value: "end the membership" %>
    <% end %>
<% end %>

<% if current_user and not current_user.in? @beerclub.members %>
    <%= form_for(@membership) do |f| %>
        <%= f.hidden_field :beerclub_id %>
        <%= f.submit class:"btn btn-primary", value: "join the club" %>
    <% end %>
<% end %>

<%= link_to 'Edit', edit_beerclub_path(@beerclub), class: "btn btn-primary" if current_user %>
<%= link_to 'Destroy the club', @beerclub, class: "btn btn-danger", method: :delete, data: {confirm: 'Are you sure?'} if current_user %>
<!--<%= link_to 'Back', beerclubs_path %>-->