<p id="notice"><%= notice %></p>

<h1><%= @beerclub.name %> <%= @beerclub.city %></h1>

<p>
  Founded <%= @beerclub.founded %>
</p>

<h2>Members</h2>

<ul>
  <% @beerclub.users.each do |user| %>
      <li>
        <%= link_to user, user %>
      </li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_beerclub_path(@beerclub) %>
