<p id="notice"><%= notice %></p>

<h2>
  <%= "#{@beerclub.name} #{@beerclub.city}" %>
</h2>

<p>
  Founded <%= @beerclub.founded %>
</p>

<% if @beerclub.members.any? %>


<h3>Members</h3>

<ul>
  <% @beerclub.members.each do |member| %>
      <li>
        <%= link_to member.username, member %>
      </li>
  <% end %>
</ul>

    <% else %>

    <p>
      no members
    </p>

    <% end %>

<%= link_to 'Edit', edit_beerclub_path(@beerclub) %>
<%= link_to 'Back', beerclubs_path %>